.board {
    display:flex;
    width:800px;
   
    
}

.column {
    display: flex;
    border: 2px solid black;
    height: 320px;
    width: 50px;
    flex-direction: column-reverse;
    
}

.circle {
    
    height: 50px;
    border-radius: 50%;
    
    border: 2px solid black;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}